<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% for question in latest_question_list %}
    <h1>{{ question.question_text }}</h1>
    <ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}
    </ul>
{% endfor %}

{% for poll in latest_poll_list %}
    <h1>{{ poll.poll_text }}</h1>
    <ul>
    {% for choice in poll.pollchoice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}
    </ul>
{% endfor %}
</body>
</html>
